<!DOCTYPE html>
<html>
	<head>
		<title>Success!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/auction/styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	</head>
	<body>
		<div class="container-fluid text-center">
			<h1>{{request.session.msg}} {{user.first_name}} !</h1>
			<a href="/logout">Logout</a>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Product (click to bid)</th>
					<th>Seller</th>
					<th>Top Bid</th>
					<th>Time Remaining</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<form action="/new" method="POST">
						{% csrf_token %}
						{% for item in item %}
					<tr>
						<td><h4><a href="/bid/{{item.id}}">{{ item.item }}</a></h4></td>
						<td><h4>{{ item.user.first_name }} {{ item.user.last_name }}</h4></td>
						<td><h4>{{ item.price }}</h4></td>
						<td><h4>{{ item.time_remaining.days }} Days</h4></td>
						<td><a href="/delete/{{item.id}}">Delete</a></td>
					</tr>
						{% endfor %}
					<button class="btn" type="submit" value="new">New Auction</button>
					<h3>Your current wallet: {{user.wallet}}</h3>
				</form>
			</tbody>
		</table>
		</div>
	</body>
</html>